body{
    font-family: Arial, Helvetica, sans-serif;
}
/* classi riutilizzate  */
    /* bottone  */
    .ms_button_type{
        padding:4px 8px;
        border-radius: 20px;
        color: white;
        background-color: rgb(43, 74, 248);
        border: none;
    }
    .ms_button_red{
        background-color: red;
    }
    .ms_grey_color{
        color: rgba(0, 0, 0, 0.596);
    }
    .ms_img100{
        width: 100%;
        height: auto;
    } 

/* Header  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    z-index: 2;
}

    /* parte alta header  */
    #ms_top_header{
        background-color: black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height:50px ;
        padding-right:10px ;
    }


    #ms_top_header img{
        width: 70px;
        height: auto;
        background-color: black;
    }

    /* parte bassa header (nav) */
    #ms_font{
        font-family:Helvetica, sans-serif;
        padding:0 20px;
    }
        /* parte sinistra header  */
        
        /* Parte destra navbar  */
        #ms_search_nav{
            width: 20px;
        }
        #search_hover{
            display: none;
        }
        #search_item a{
            text-decoration: none;
        }
        
       
        
/* Jumbotron  */
#jumbotron{
    background-image: url('../img/jumbo-bg.png');
    height: 675px;
    background-size: cover;
    background-position: center;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
}

    #blocco_dentro_jumbotron{
        color: white;
    }
    #blocco_dentro_jumbotron h2, #blocco_dentro_jumbotron h6 #blocco_dentro_jumbotron button{
        font-weight: bold;
    }

    #jumbotron #logo_returnal{
        width: 60%;
        height: auto;
        margin-bottom: 20px;
    }
    #jumbotron h6{
        margin: 20px 0;
    }

/* Sottosezione jumbotron */
#which_game{
    padding-top: 20px;
    padding-bottom: 20px;
}
#which_game .col{
    margin-top: 10px;
    margin-bottom: 10px;
}
#which_game img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Main  */

/* Presentazione playstation  */
#ms_playstation5_presentazione{
    margin-top: 60px;
    margin-bottom: 50px;
}

#blocco_ps5_presentazione{
    margin-top: 50px;
}
#ms_playstation5_presentazione #top_title{
    color: rgb(0, 0, 255);
}
#ms_playstation5_presentazione #sottotitolo_ps5{
    margin-top: 30px;
}

#blocco_ps5_presentazione #sperimenta_ps5{
    margin: 20px 0;
}

/* It take two gioco  */
#it_take_gioco{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    height: 956px;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#container_it_take_gioco{
    padding: 60px 0;
}

    #blocco_dentro_it_take_gioco{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
    }

    #it_take_gioco #logo_it_take_two{
        width: 60%;
        height: auto;
        margin-bottom: 20px;
    }
    #it_take_gioco h6{
        margin: 20px 0;
    }
    #blocco_dentro_it_take_gioco h2, #blocco_dentro_it_take_gioco h6, #blocco_dentro_it_take_gioco button{
        font-weight: bold;
    }

/* Nuove uscite  */
#nuove_uscite{
    background-color: rgba(0, 0, 0, 0.87);
    padding: 20px 0;
    color: white;
}
#nuove_uscite img{
    margin-bottom: 8px;
    border-radius: 15px;
}
#nuove_uscite h5{
    margin: 20px 0;
}
#nuove_uscite .col{
    margin-bottom: 30px;
}

/* Esplora play 4  */
#esplora_play_4{
    padding-top: 60px;
    padding-bottom: 40px;
}
    #esplora_play_4 H6{
        margin: 20px 0;
    }
    #esplora_play_4 .col{
        margin: 30px 0;
    }

/* Playstation plus  */
#playstation_plus{
    background-color:#bebcbb;
}
#playstation_plus #logo_psplus{
    width: 60%;
    height: auto;
}
#playstation_plus #col_sx_plus{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#playstation_plus #col_sx_plus p{
    margin: 30px 0;
}
#col_sx_plus #botton_style_trasparent{
    background-color:#d9dadc;
    color: blue;
}

/* Playstore */

#play_store{
    padding: 50px 0;
}
    #play_store .col{
        margin: 20px 0;
    }
    #play_store .ms_grey_color.text-center{
        margin: 20px 0;
    }

/* PS Now  */
#play_now{
    background-color:#171d3d;
}
    #play_now #logo_psnow{
        width: 60%;
        height: auto;
    }
    #play_now #col_sx_now{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #play_now #col_sx_now p{
        margin: 30px 0;
        color: white;
    }
    #botton_style_psnow{
        background-color: white;
        color: #000;
    }

/* Social zone  */
#social{
    padding: 50px 0;
}
    #social .col{
        margin-top: 30px;
    }


/* footer  */
footer{
    background-color: #00439c;
    padding: 50px 0;
    color: white;
}

    footer #globoimg{
        width: 20px;
        height: auto;
        background-color: 00439c;
    }
    footer #sezione_paese{
        margin: 20px 0;
    }
    footer #footer_dx{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #footer_dx li{
        list-style: none;
        margin: 10px 0;
    }
    #footer_dx a{
        display: inline-block;
        text-decoration: none;
        color: white;
    }
    /* parte bassa footer */
    footer #logo_ps1{
        width: 150px;
    }
    footer #copyright{
        margin-top: 10px;
    }
    #info{
        color: white;
    }



/* Sezione hover  */
    /* hover bottoni  */
    .ms_button_type:hover{
        border:  2px solid white;
        /* box-shadow: 0px 0px 10px 5px ; */
        box-shadow: 0px 0px 10px 5px #888888;
    }
    /* hover sottosezione jumbotron immagini  */
    #which_game img:hover{
        border:  2px solid white;
        box-shadow: 0px 0px 10px 5px ;
    }
    /* hover barra di ricerca ( navbar) */
    #search_item:hover #search_hover{
        display: inline-block;
    }





/* mediaquery lg+ */
@media all and (min-width:992px){
    header #ms_right_navbar{
        display: flex;
        align-items: center;
    }
    #ms_right_navbar .ms_button_type{
        margin: 0 8px;
    }

    /* jumbotron  */
    #jumbotron #logo_returnal{
        width: 70%;
        height: auto;
    }
}

/* mediaquery xs to md  */
@media all and (max-width:991px){
    #ms_right_navbar .ms_button_type{
        margin: 10px 0;
    }
}
/* mediaquery xs to sm  */
@media all and (max-width:767px){
    #playstation_plus{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #col_dx_psplus{
        display: none;
    }
    #play_now{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #col_dx_psnow{
        display: none;
    }
    footer #footer_dx{
        flex-direction: column;
    }
}